@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply dark 
     
        /* --background-rgb: 255 255 255;
        --foreground-rgb: 0 0 0;

        --card-rgb: 255 255 255;
        --card-foreground-rgb: 0 0 0;

        --popover-rgb: 255 255 255;
        --popover-foreground-rgb: 0 0 0;

        --primary-rgb: 205 7 242;
        --primary-foreground-rgb: 255 255 255;

        --secondary-rgb: 56 189 248;
        --secondary-foreground-rgb: 21 21 21;

        --muted-rgb: 242 242 242;
        --muted-foreground-rgb: 115 115 115;

        --accent-rgb: 242 242 242;
        --accent-foreground-rgb: 21 21 21;

        --destructive-rgb: 170 60 98;
        --destructive-foreground-rgb: 255 255 255;

        --border: 229 229 229;
        --input: 229 229 229;
        --ring: 242 98 255;

        --radius: 0.5rem; */;

        --ipad-scale: 1.29;
        --ipad-text-scale: 1;
        --ipad-width: 484px;
        --ipad-height: 762px;
        --ipad-border: 19.35px;
        --ipad-x: 40%;
        --ipad-y: 89px;
        --ipad-ratio: 0.635;
    }

    .dark {
        --background-rgb: 15 15 15;
        --foreground-rgb: 255 255 255;

        --card-rgb: 15 15 15;
        --card-foreground-rgb: 255 255 255;

        --popover-rgb: 255 255 255;
        --popover-foreground-rgb: 15 15 15;

        --primary-rgb: 205 7 242;
        --primary-foreground-rgb: 255 255 255;

        --secondary-rgb: 56 189 248;
        --secondary-foreground-rgb: 255 255 255;

        --muted-rgb: 38 38 38;
        --muted-foreground-rgb: 163 163 163;

        --accent-rgb: 38 38 38;
        --accent-foreground-rgb: 255 255 255;

        --destructive-rgb: 174 69 97;
        --destructive-foreground-rgb: 255 255 255;

        --border: 38 38 38;
        --input: 38 38 38;
        --ring: 242 98 255;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    min-height: 100%;
    scrollbar-width: none;
}

*:hover {
    cursor: url('/cursor.png'), auto;
}

textarea {
    resize: none;
    field-sizing: content;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5b0056;
    border-radius: 10px;
}

#header-nav {
    animation: blur both;
    animation-timeline: scroll();
    animation-range: 0 500px;
}

.fondo {
    background-image: url(/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &:before {
        content: '';
        background: linear-gradient(to bottom right, #870292, #4b0d54);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
        z-index: -1;
    }
}

.fondo-prueba::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4c0253, #4b0d54);
    z-index: 0;
    position: absolute;
    opacity: 0.8;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

button[role='combobox'] {
    span {
        margin: auto;
    }
}

@keyframes blur {
    to {
        box-shadow: 0px 5px 50px -5px rgba(51, 51, 51, 0.1), 0px 0px 0 1px rgba(227, 227, 227, 0.3);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        max-width: 720px;
        border-radius: 100px;
        padding: 0 1.5rem;
        inset-inline: 40px;
    }
}

.btn {
    color: #9104a4;
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid #9104a4;
    border-radius: 10rem;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0.6em #bd15d3, 0 0.9em rgba(199, 65, 252, 0.4);
}

.btn:hover {
    background: #9104a4;
    color: #ffffff;
}

.btn.b-1:hover {
    top: 0.2em;
    box-shadow: 0 0.4em #bd15d3, 0 0.7em rgba(199, 65, 252, 0.4);
}

.btn.b-1:active {
    top: 0.4em;
    box-shadow: 0 0.2em #bd15d3, 0 0.5em rgba(199, 65, 252, 0.4);
}

.ipad {
    position: fixed;
    top: var(--ipad-y);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    width: var(--ipad-width);
    height: var(--ipad-height);
    visibility: visible;
    transform-origin: bottom center;
    transform: translate3d(0, 110%, 0) rotate(75deg);
}

.ipad.visible {
    transition: transform 0.92s cubic-bezier(0.245, 1.315, 0.25, 0.97);
    transform: translateZ(0);
}

.ipad.invisible {
    transition: transform 0.7s cubic-bezier(1, -0.235, 0.525, 0.905);
    transform: translate3d(0, 110%, 0) rotate(75deg);
}

.ipad-case {
    --case-top-color: #585858;
    --case-bottom-color: #353535;

    --case-border: calc(var(--ipad-border) * -1);
    position: absolute;
    top: var(--case-border);
    right: var(--case-border);
    bottom: var(--case-border);
    left: var(--case-border);
    z-index: 1;
}

.ipad-case::before,
.ipad-case::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: calc(45px * var(--ipad-scale));
}

.ipad-case::before {
    z-index: 0;
    background: var(--case-bottom-color);
    box-shadow: 0 0 20px 20px #0000000d;
    transform: translate(calc(-8px * var(--ipad-scale)), calc(6px * var(--ipad-scale)));
}

.ipad-case::after {
    z-index: 1;
    background: var(--case-top-color);
}

.finger-1 svg,
.finger-2 svg,
.thumb-1 svg,
.thumb-2 svg {
    position: absolute;
    color: #e7ac93;
}

.finger-1 svg {
    top: 5%;
    right: -19.2%;
    z-index: 0;
    width: calc(105px * var(--ipad-scale));
    height: calc(154px * var(--ipad-scale));
}

.finger-2 svg {
    top: 30%;
    right: -19.3%;
    z-index: 3;
    width: calc(99px * var(--ipad-scale));
    height: calc(331px * var(--ipad-scale));
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.1));
}

.thumb-1 svg {
    top: 30%;
    left: -35.2%;
    z-index: 3;
    width: calc(157px * var(--ipad-scale));
    height: calc(170px * var(--ipad-scale));
    filter: drop-shadow(10px -10px 5px rgba(0, 0, 0, 0.1));
    transform-origin: bottom center;
}

.thumb-2 svg {
    top: 44%;
    left: -33.2%;
    z-index: 0;
    width: calc(253px * var(--ipad-scale));
    height: calc(307px * var(--ipad-scale));
    transform-origin: bottom center;
}

.wrist {
    color: #e7ac93;
    background-color: #e7ac93;
    position: absolute;
    top: 70%;
    left: -15.2%;
    z-index: 0;
    width: calc(250px * var(--ipad-scale));
    height: calc(600px * var(--ipad-scale));
    background-color: #e7ac93;
    background-image: radial-gradient(45.02% 39.83% at 86.78% 32.14%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(25deg);
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    border-radius: calc(30px * var(--ipad-scale));
}
