@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply dark 
     
        /* --background-rgb: 255 255 255;
        --foreground-rgb: 0 0 0;

        --card-rgb: 255 255 255;
        --card-foreground-rgb: 0 0 0;

        --popover-rgb: 255 255 255;
        --popover-foreground-rgb: 0 0 0;

        --primary-rgb: 205 7 242;
        --primary-foreground-rgb: 255 255 255;

        --secondary-rgb: 56 189 248;
        --secondary-foreground-rgb: 21 21 21;

        --muted-rgb: 242 242 242;
        --muted-foreground-rgb: 115 115 115;

        --accent-rgb: 242 242 242;
        --accent-foreground-rgb: 21 21 21;

        --destructive-rgb: 170 60 98;
        --destructive-foreground-rgb: 255 255 255;

        --border: 229 229 229;
        --input: 229 229 229;
        --ring: 242 98 255;

        --radius: 0.5rem; */;
    }

    .dark {
        --background-rgb: 15 15 15;
        --foreground-rgb: 255 255 255;

        --card-rgb: 15 15 15;
        --card-foreground-rgb: 255 255 255;

        --popover-rgb: 255 255 255;
        --popover-foreground-rgb: 15 15 15;

        --primary-rgb: 205 7 242;
        --primary-foreground-rgb: 255 255 255;

        --secondary-rgb: 56 189 248;
        --secondary-foreground-rgb: 255 255 255;

        --muted-rgb: 38 38 38;
        --muted-foreground-rgb: 163 163 163;

        --accent-rgb: 38 38 38;
        --accent-foreground-rgb: 255 255 255;

        --destructive-rgb: 174 69 97;
        --destructive-foreground-rgb: 255 255 255;

        --border: 38 38 38;
        --input: 38 38 38;
        --ring: 242 98 255;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    min-height: 100%;
    scrollbar-width: none;
}

*:hover {
    cursor: url('/cursor.png'), auto;
}

textarea {
    resize: none;
    field-sizing: content;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5b0056;
    border-radius: 10px;
}

#header-nav {
    animation: blur both;
    animation-timeline: scroll();
    animation-range: 0 500px;
}

.fondo {
    background-image: url(/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &:before {
        content: '';
        background: linear-gradient(to bottom right, #870292, #4b0d54);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
        z-index: -1;
    }
}

.fondo-prueba::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4c0253, #4b0d54);
    z-index: 0;
    position: absolute;
    opacity: 0.8;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

button[role='combobox'] {
    span {
        margin: auto;
    }
}

@keyframes blur {
    to {
        box-shadow: 0px 5px 50px -5px rgba(51, 51, 51, 0.1), 0px 0px 0 1px rgba(227, 227, 227, 0.3);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        max-width: 720px;
        border-radius: 100px;
        padding: 0 1.5rem;
        inset-inline: 40px;
    }
}

.btn {
    color: #9104a4;
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid #9104a4;
    border-radius: 10rem;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0.6em #bd15d3, 0 0.9em rgba(199, 65, 252, 0.4);
}

.btn:hover {
    background: #9104a4;
    color: #ffffff;
}

.btn.b-1:hover {
    top: 0.2em;
    box-shadow: 0 0.4em #bd15d3, 0 0.7em rgba(199, 65, 252, 0.4);
}

.btn.b-1:active {
    top: 0.4em;
    box-shadow: 0 0.2em #bd15d3, 0 0.5em rgba(199, 65, 252, 0.4);
}
