@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 255 255 255;
        --foreground: 0 0 0;

        --card: 255 255 255;
        --card-foreground: 0 0 0;

        --popover: 255 255 255;
        --popover-foreground: 0 0 0;

        --primary: 205 7 242;
        --primary-foreground: 248 248 248;

        --secondary: 56 189 248;
        --secondary-foreground: 21 21 21;

        --muted: 242 242 242;
        --muted-foreground: 115 115 115;

        --accent: 242 242 242;
        --accent-foreground: 21 21 21;

        --destructive: 170 60 98;
        --destructive-foreground: 248 248 248;

        --border: 229 229 229;
        --input: 229 229 229;
        --ring: 242 98 255;

        --radius: 0.5rem;
    }

    .dark {
        --background: 15 15 15;
        --foreground: 248 248 248;

        --card: 15 15 15;
        --card-foreground: 248 248 248;

        --popover: 15 15 15;
        --popover-foreground: 248 248 248;

        --primary: 205 7 242;
        --primary-foreground: 35 35 35;

        --secondary: 56 189 248;
        --secondary-foreground: 248 248 248;

        --muted: 38 38 38;
        --muted-foreground: 163 163 163;

        --accent: 38 38 38;
        --accent-foreground: 248 248 248;

        --destructive: 174 69 97;
        --destructive-foreground: 248 248 248;

        --border: 38 38 38;
        --input: 38 38 38;
        --ring: 242 98 255;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    min-height: 100%;
    scrollbar-width: none;
}

textarea {
    resize: none;
    field-sizing: content;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5b0056;
    border-radius: 10px;
}

#header-nav {
    animation: blur both;
    animation-timeline: scroll();
    animation-range: 0 500px;
}

.fondo {
    background-image: url(/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &:before {
        content: '';
        background: linear-gradient(to bottom right, #870292, #4b0d54);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
        z-index: -1;
    }
}

button[role='combobox'] {
    span {
        margin: auto;
    }
}

@keyframes blur {
    to {
        box-shadow: 0px 5px 50px -5px rgba(51, 51, 51, 0.1), 0px 0px 0 1px rgba(227, 227, 227, 0.3);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        max-width: 720px;
        border-radius: 100px;
        padding: 0 1.5rem;
        inset-inline: 40px;
    }
}
